.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    /* background-color: black; */
    background-image: linear-gradient(360deg,transparent,rgba(37,37,37,.61),#111);

}
.netflix_logo{
    position: fixed;
    left: 20px;
    top: -5px;
    width:80px;
}
.avatar{
    position: fixed;
    right: 20px;
    width: 30px;
    border-radius: 15px;
    top: 15px;
}
.options{
    position:fixed;
    left:120px;
    top:25px;
}
.option{
    color: white;
    font-size: 0.9rem;
    float: left;
    justify-content: space-between;
    padding-left: 1rem;
}