.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-image: linear-gradient(360deg, transparent, rgba(0, 0, 0, 0.688), var(--main-color));
    backdrop-filter: blur(1px);
    padding: 1rem;
    z-index: 1;
}

.netflix_logo {
    position: relative;
    width: 80px;
    height: 2rem;
    transform: scale(4);
}

.avatar {
    height: 36px;
    width: 36px;
    border-radius: 50%;

}

@media (max-width: 768px) {
    .netflix_logo {
        transform: scale(3.5);
    }
}