.row {
    color: white;
}

.posters {
    overflow-x: auto;
    overflow-y: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.poster {
    max-height: 200px;
    min-width: min-content;
    cursor: pointer;
    border-radius: 30px;
    border: 4px solid transparent;
    overflow: hidden;
    transition: 0.3s ease;
}

.poster:hover {
    border: 4px solid white;
}

.thumbnail {
    height: 100%;
    transition: 0.3s ease;
}

.smallPoster {
    max-height: 170px;
    min-width: min-content;
    cursor: pointer;
    border-radius: 30px;
    border: 4px solid transparent;
    overflow: hidden;
    transition: 0.3s ease;
}

.rowTitle {
    margin-top: 2rem;
    font-size: large;
}

.thumbnail:hover {
    transform: scale(1.2);
}

.smallPoster:hover {
    border: 4px solid white;
}